<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Guess the lyrics</title>
        <script type="importmap">
            {
                "imports": {
                    "genius-lyrics": "/node_modules/genius-lyrics/dist/client.js"
                    "dotenv": "/node_modules/dotenv/config.js"
                }
            }
        </script>
        <script>
            const regex_unicode = /&#(\d+);/g;
            let tmp_songs = "{{ songs }}".replace(regex_unicode, function(_, $1) {
                return String.fromCharCode($1);
            }); 
            console.log(tmp_songs);
            songs = JSON.parse(tmp_songs);
            console.log(songs);
        </script>
        <script type="module" src="{{url_for('static', filename='genius.js')}}" type="text/javascript"></script>
    </head>

    <body>
        <div class="title">
            <h3>Guess the lyrics</h3>
        </div>
        <div class="content">
            <h1 id="verse"></h1>
            <input type="text" id="answer">
        </div>
    </body>
</html>